:root {
    --light: #f5f5f5;
    --light-secondary: #818181;
    --primary: #0eccd3;
    --secondary: #014246;
    --dark: #082222; 
    --darker: #0c1616;
}

/* * {
    outline: 1px red solid;
}*/

* {
    color: var(--light);
}

.container-fluid {
    background-color: var(--darker);
    color: var(--dark);
}

#menu {
    background-color: var(--dark);
    color: var(--light);
}

#menu img {
    width: 100%;
    max-width: 30px;
    height: 100%;
    max-height: 30px;
}

.menu-btn {
    padding: 20px;
    text-align: center;
}