:root {
    --light: #f5f5f5;
    --light-secondary: #c7c7c7;
    --primary: #0eccd3;
    --secondary: #014246;
    --dark: #082222; 
    --darker: #0c1616;
}

/* * {
    outline: 1px red solid;
} */

* {
    color: var(--light);
}

body {
    background-color: var(--darker);
    color: var(--light);
}

#menu {
    background-color: var(--dark);
    color: var(--light);
}

#menu img {
    width: 100%;
    max-width: 30px;
    height: 100%;
    max-height: 30px;
}

.menu-btn {
    padding: 15px 5px;
    text-align: center;
}

/* Main content */

.content-container {
    margin: 1rem 0.25rem;
}

#search-field {
    background-color: var(--darker);
    color: var(--light-secondary);
    font-weight: 500;
    border: 0px solid #000000;
    border-bottom: 1px solid var(--light-secondary);
    opacity: 1;
    width: 100%;
    max-width: 500px;
}
.form-input:focus {
    outline: none;
    border: none;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--light);
}

/* Movie thumbnails */

.movie-render-frame {
    display: inline-block;
    margin: 0.5rem;
}

.movie-info {
    margin: 0.5rem 0rem;
}

.movie-name {
    font-size: 2rem;
    font-weight: 500;
    color: var(--light);
    margin: 0.5rem 0rem;
}
